:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #eaeaed;
  --second-brand-color: #de0b1c;
  --third-brand-color: #7a7b7d;
  --fourth-brand-color: rgba(222, 11, 28, .2);



  --main-font:  'Montserrat';
  --title-font:  'Montserrat Bold';
  --main-title-font:  'Montserrat Black';

  font-size: 62.5%;
}
